[data-md-color-scheme="slate"] {
    --md-default-fg-color: #eeeeee;
    --md-primary-fg-color: #5865f2;
    --md-accent-fg-color: #6d7affff;
    --md-default-fg-color--light: #c9d1d9;

    --md-code-bg-color: #272839ff;
    /* --md-code-bg-color: #323339; */
    --md-default-bg-color: #2c2d32;
    --md-default-bg-color: #1d1f2bff;
}

header {
    background-color: #3b48d4ff !important;
}

.md-grid {
    max-width: 1300px;
}

* {
    line-height: 1.7;
}

header .md-ellipsis {
    line-height: 2.6;
}

.highlight {
    margin-top: 1.5em !important;
    margin-bottom: 1.4em !important;
    border-radius: 8px;
    overflow: hidden;
    border: 1px solid rgba(255, 255, 255, 0.1);
}

.filename,
.highlight pre,
.highlighttable {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
}

.md-sidebar .md-nav__title {
    font-weight: bold;
    font-size: 1.4em;
    margin-bottom: 0.5em;
    padding-bottom: 0.4em;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

div[data-md-component="sidebar"] li {
    line-height: 1.5;
}

/* slate ダークモード用に変数を上書き */
[data-md-color-scheme="slate"] {
    /* 各トークン色 */
    --md-code-hl-keyword-color: #ff7b72;
    --md-code-hl-string-color: #a5d6ff;
    --md-code-hl-comment-color: #8b949e;
    --md-code-hl-function-color: #d2a8ff;
    --md-code-hl-number-color: #79c0ff;
    --md-code-hl-constant-color: #ffa656;
    --md-code-hl-type-color: #4ec9b0;
    --md-code-hl-operator-color: #ff7b72;
    --md-code-hl-operator-color: #dfe0e2;
    --md-code-hl-punctuation-color: #dfe0e2;
    --md-code-hl-name-color: #dfe0e2;
}
